* {
  list-style: none;
  margin: 0;
  text-decoration: none;
}

body {
  min-width: 1000px;
}

//Header Styling----------------------------------------//

.header{
  display: inline-block;
  margin: 0;
  padding: 20px 75px;
  border-bottom: 1px solid #9FA0AB;
  li {
    display: inline-block;
  }
  div.left{
    float: left;
    margin-right: 100px;
    li button{
      background-color: #34A8C4;
      color: white;
      border-radius: 2px;
      border: none;
      padding: 5px 10px;
      margin-left: -10px;
      &:hover{
        background-color: #0ACCF3;
      }
    }
    li input{
      height: 22px; 
      border-color: #34A8C4;
      border-radius: 4px;
    }
  }
  div.right{
    float: right;
    margin-left: 300px;
    ul{
      padding-bottom: 0;
      margin-top: -55px;
      margin-right: 100px;
    }
    ul li{
      padding-right: 20px;
      font-size: 15px;
      a{
        text-decoration: none;
        color: #34A8C4;
      }
      button{
        background-color: white;
        border: 1px solid #34A8C4;
        border-radius: 3px;
        padding: 5px 4px;
        color: #34A8C4;
        &:hover{
          background-color: #BEE3EC;
        }

      }
      .cart{
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left:1px solid #9FA0AB;
        border-radius: 0;
        padding-top: 20px;
        padding-left: 20px;
        color: #9FA0AB;
        font-size: 14px;
        &:hover{
          background-color: white;
        }
      }
    }
  }
  li.symbol a{
    font-size: 32px;
    color: #F56400;
    padding-right: 20px;
  }
  .cart-sprite {
    background: url('../images/cart.png') no-repeat 0 -1px;
    background-size: 16px 16px;
    width: 16px;
    height: 13px;
    position: relative;
    top: 15px;
    left: 23px;
  }
}

//Navbar Styling ----------------------------------------//
.nav{
  border-bottom: 1px solid #9FA0AB;
  margin-top: 0;
  ul{
    margin-left: 75px;
    padding-bottom: 10px;
    padding-top: 7px;
  }
  li {
    display: inline-block;
    padding-right: 25px;
    font-size: 14px;
    color: #9FA0AB;
    a{
      text-decoration: none;
      color: #9FA0AB;
    }
  }  
}

//Left Side-bar styling ---------------------------------//
.left_content{
  background-color: #F5F5F1;
  padding-left: 100px;
  font-size: 12px;
}

.sidebar_one {
  padding-top: 25px;
  width: 240px;
  font-size: 14px;
  p {
    font-weight: bold;
  }
  .box{
    border: 1px solid #9FA0AB;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    ul{
      padding-left: 10px;
    }
    li{
      padding: 5px;
      a{
        text-decoration: none;
        color: #34A8C4;
        &:hover{
          color: black;
          font-weight: bold;
        }
      }
    }

  }
}

.sidebar_two {
  padding-top: 25px;
  width: 240px;
  font-size: 14px;
  p {
    font-weight: bold;
    padding-bottom: 5px;
  }
  .divider{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .box{
    border: 1px solid #9FA0AB;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    ul{
      padding-left: 10px;
    }
    li{
      padding: 5px;
      margin-left: -15px;
      a{
        text-decoration: none;
        color: #34A8C4;
        padding-left: 5px;
        &:hover{
          color: black;
          font-weight:bold;
        }
      }
    }
    .shipIt{
      padding-bottom: 25px;
    }
    .shipping input{
    width: 200px;
    padding-left: 5px;
    }
    
    form{
      display:inline-block;
      margin-top: -15px;
    }
    input{
      width: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      border-radius: 2px;
      margin-top: -10px;
      &.highPrice{
        margin-left: 20px;
      }
      &.arrow{
        position: relative;
        top: 27px;
        background-color: white;
        width: 40px;
        padding-bottom: 12px;
        padding-top: 7px;
      }
    }
    p.to{
      position: relative;
      font-weight: normal;
      right: 96px;
    }
    p.money{
      position: relative;
      font-weight: normal;
      bottom: 28px;
      right: -10px;
      width: 5px;
      margin-bottom: -40px;
    }
    p.money2{
      position: relative;
      font-weight: normal;
      right: 96px;
      bottom: 9px;
      left: 110px;
      width: 5px;
    }
  }


  //Filter By Color Option ----------------------------------
  .button{
    height: 20px;
    width: 20px;
    border: 1px solid #9FA0AB;
    border-radius: 2px;
    display: inline-block;  
  }
  .red{
    background-color: red;
  }
  .orange{
    background-color: orange;
  }
  .yellow{
    background-color: yellow;
  }
  .green{
    background-color: green;
  }
  .blue{
    background-color: blue;
  }
  .indigo{
    background-color: indigo;
  }
  .black{
    background-color: black;
  }
}
