<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="header">

    <div class="left">  
      <ul>
      <li class='symbol'><a href="#">Etsy</a></li>
      <li><form method="post" action="" class="">
        <input type="text" name="Search" placeholder="">
      </form></li>
      <li><button>Search</button></li>
      </ul>
    </div>

    <div class="right">
      <ul>
        <li><a href="#">Sell on Etsy</a></li>
        <li><a href="#">Register</a></li>
        <li><button>Sign In</button></li>
        <li><div class="cart-sprite"></div><button class="cart">Cart</button></li>
      </ul>

    </div>

  </div>















  <div class="nav">
  </div>

  <div class="sidebar_one">
  </div>

  <div class="sidebar_two">
  </div>

  <div class="search_results">
    <ul class="tiles">
    </ul>

    <ul class="related">
    </ul>

    <p class="looking_for_shops">
    </p>

    <div class="next_bar">
    </div>
  </div>



<!-- 
<div class="container"></div>
  <script type="text/template" id="itemTemplate">
    <div>
      <p> <%= title %> </p>
      <p class="price"> <%= price %> </p>
      <img src="<%= Images[0].url_170x135 %>">
    </div>
    <hr>
  </script>

 -->



  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>