<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="header">
    <div class="left">  
      <ul>
      <li class='symbol'><a href="#">Etsy</a></li>
      <li><form method="post" action="" class="">
        <input type="text" name="Search" placeholder="">
      </form></li>
      <li><button>Search</button></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">Sell on Etsy</a></li>
        <li><a href="#">Register</a></li>
        <li><button>Sign In</button></li>
        <li><div class="cart-sprite"></div><button class="cart">Cart</button></li>
      </ul>
    </div>
  </div>

  <div class="nav">
    <ul>
      <li><a href='#'>Clothing & Accessories</a></li>
      <li><a href='#'>Jewelry</li>
      <li><a href='#'>Craft Supplies & Tools</a></li>
      <li><a href='#'>Weddings</a></li>
      <li><a href='#'>Entertainment</a></li>
      <li><a href='#'>Home & Living</a></li>
      <li><a href='#'>Kids & Baby</a></li>
      <li><a href='#'>Vintage</a></li>   
    </ul>
  </div>

  <div class="large_area">
    <div class="left_content">
      <div class="sidebar_one">
        <p>Show results for:</p><br>

          <div class="box">
            <p>All Categories</p>
            <ul>
              <li><a href="#">Art & Collectibles</a></li>
              <li><a href="#">Clothing</a></li>
              <li><a href="#">Home & Living</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Craft Supplies & Tools</a></li>
              <li><a href="#">Paper & Party Supplies</a></li>
              <li><a href="#">Jewelry</a></li>
              <li><a href="#">Bags & Purses</a></li>
              <li><a href="#">Toys & Games</a></li>
              <li><a href="#">Bath & Beauty</a></li>
              <li><a href="#">Electronics & Accessories</a></li>
              <li><a href="#">Books, Movies & Music</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Weddings</a></li>
              <li><a href="#">Pet Supplies</a></li>
            </ul>
          </div>
      </div>

      <div class="sidebar_two">
        <p>Refine your search</p><br>

        <div class="box">
          <p>Item Type</p>
          <ul>
            <li><button></button><a href="#">All Items</a></li>
            <li><button></button><a href="#">Handmade</a></li>
            <li><button></button><a href="#">Vintage</a></li>
          </ul>

          <hr class="divider">

          <p>Price</p>
          <p>
            <button>$ Low</button> to <button>$ High</button><button></button>
          </p>

          <hr class="divider">

          <p>Filter by Color</p>
          <div class='color_buttons'>
            <a href="#"><div class="red button"></div></a>
            <a href="#"><div class="orange button"></div></a>
            <a href="#"><div class="yellow button"></div></a>
            <a href="#"><div class="green button"></div></a>
            <a href="#"><div class="blue button"></div></a>
            <a href="#"><div class="indigo button"></div></a>
            <a href="#"><div class="black button"></div></a>
            <a href="#"><div class="white button"></div></a>
          </div>

          <hr class="divider">

          <p>Ordering Options</p>
          <ul>
            <li><button></button><a href="#">Accepts Etsy Gift Cards</a></li>
            <li><button></button><a href="#">Customizable</a></li>
          </ul>

          <hr class="divider">

          <p>Shop Location</p>
          <ul>
            <li><button></button><a href="#">Anywhere</a></li>
            <li><button></button><a href="#">United States</a></li>
            <li><a href="#">Choose a custom location</a></li>
          </ul>

          <hr class="divider">

          <p>Ship To</p>
          <button>United States</button>
        </div>
      </div>
    </div>
  </div>



















<!-- 
<div class="container"></div>
  <script type="text/template" id="itemTemplate">
    <div>
      <p> <%= title %> </p>
      <p class="price"> <%= price %> </p>
      <img src="<%= Images[0].url_170x135 %>">
    </div>
    <hr>
  </script>
 -->



  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>